$fa-font-path: "~font-awesome/fonts";
@import '~font-awesome/scss/font-awesome.scss';

@font-face {
	font-family: 'Montserrat-Medium';
	src: url('../fonts/montserrat/Montserrat-Medium.ttf');
}
@font-face {
	font-family: 'Montserrat-Bold';
	src: url('../fonts/montserrat/Montserrat-Bold.ttf');
}
@font-face {
	font-family: 'Montserrat-Black';
	src: url('../fonts/montserrat/Montserrat-Black.ttf');
}
@font-face {
	font-family: 'Montserrat-Semibold';
	src: url('../fonts/montserrat/Montserrat-SemiBold.ttf');
}
@font-face {
	font-family: 'Montserrat-Light';
	src: url('../fonts/montserrat/Montserrat-Light.ttf');
}