@import './fonts.scss';

@import './footer/footer.scss';
@import './nav/navigation.scss';
@import './pages/index.scss';

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat-Medium';
}
body{
    width: 100%;
}
.app{
    width: 100%;
}