.navigation{
    max-width: 896px; 
    margin: 0 auto;
    display: flex;
    padding: 20px 160px 60px 32px;
    justify-content: space-between;
    .nav-logo{
        height: 40px;
        width: 60px;
        user-select: none;
        img{
            height: 100%;
            width: 100%;
        }
    }
    .nav-list{
        width: 710px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .nav-item{
            font-family: 'Montserrat-Semibold';
            color: #333333;
            text-decoration: none;
            text-transform: uppercase;
            &:hover{
                text-decoration: underline;
            }
        }
        .nav-item-active{
            opacity: .3;
            &:hover{
                text-decoration: none;
            }
        }
    }
}
.nav-burger{
    height: 70px;
    width: 70px;
    position: absolute;
    display: none;
    top: 4px;
    right: 10px;
    z-index: 3;
    overflow: hidden;
    cursor: pointer;
    line{
        position: relative;
        stroke: #fff;
        stroke-width: 4px;

        transition: transform .3s;
    }
}

.active-burger{
    line:nth-child(2),line:nth-child(3){
        transform-origin: 35px 35px;
    }
    line:nth-child(1){
        transform: translateX(-70px);
    }
    line:nth-child(2){
        transform: rotate(-43deg);
    }
    line:nth-child(3){
        transform: rotate(43deg);
    }
    line:nth-child(4){
        transform: translateX(70px);
    }
}


@media only screen and (max-width: 1100px){
    .navigation{
        padding: 20px 20px;
    }
}

@media only screen and (max-width: 900px){
    .navigation{
        display: block;
        position: absolute;
        z-index: 2;
        background: #aaaa90;
        padding: 0;
        right: 0;
        top: 70px;
        overflow: hidden;
        max-height: 0px;
        transition: max-height .4s;
        .nav-logo{
            position: relative;
            display: block;
            overflow: hidden;
            margin: 10px auto;
        }
        .nav-list{
            position: relative;
            display: flex;
            flex-direction: column;
            width: 200px;
            .nav-item{
                margin-bottom: 10px;
            }
        }
    }
    .active{
        max-height: 400px;
    }
    .nav-burger{
        display: block;
    }
}