// ...
.mce-notification-inner, .mce-branding, .mce-close, .mce-has-close{
    display: none !important;
}
// ...

.article-editor{
    .editor-content{
        width: 100%;
        display: flex;
        flex-direction: column;
        .editor-nav{
            button, a{
                text-decoration: none;
                padding: 14px 30px;
                text-transform: uppercase;
                border-radius: 4px;
                font-family: 'Montserrat-Bold';
                color: white;
                display: inline-block;
                background: #aaaa90;
                border: none;
                font-size: 14px;
                cursor: pointer;
                user-select: none;
            }
            button{
                background: #4CAF50;
                margin-right: 20px;
            }
            button:hover{
                background: darkgreen;
            }
            button:disabled{
                cursor: not-allowed;
                background: #C8E6C9;
                color: gray;
            }
            a{
                background: indianred;
            }
            a:hover{
                background: darkred;
            }
        }
        > input{
            padding: 11px 12px 11px 8px;
            outline: none;
            border: 1px solid #aaaa90;
            font-size: 24px;
            font-family: 'Montserrat-Bold';
            margin-top: 40px;
        }
        .tiny-editor{
            margin-top: 40px;
        }
    }
}