@import './../components/blog/blog-date.scss';
@import './../components/blog/blog-pagination.scss';

.blog{
    .blog-list{
        padding-left: 20px;
        .create-new-article{
            display: block;
            margin-bottom: 30px;
            text-decoration: none;
            padding: 14px 30px;
            text-transform: uppercase;
            border-radius: 4px;
            font-family: 'Montserrat-Bold';
            color: white;
            display: inline-block;
            background: #aaaa90;
            font-size: 14px;
            cursor: pointer;
            user-select: none;
        }
        .create-new-article:hover{
            background: #707056;
        }
        .blog-item{
            position: relative;
            display: flex;
            border-bottom: 1px solid #aaaa90;
            margin-bottom: 72px;
            .blog-item-image{
                height: 242px;
                width: 50%;
                img{
                    height: 100%;
                    width: 100%;
                }
            }
            .blog-item-text{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-start;
                width: 50%;
                padding: 0 0 16px 12px;
                p, h2{
                    color: #333333;
                }
                h2{
                    font-size: 18px;
                    font-family: 'Montserrat-Bold';
                }
                p{
                    line-height: 22px;
                    font-size: 14px;
                    font-family: 'Montserrat-Semibold';
                }
                > a {
                    align-self: flex-end;
                    text-decoration: none;
                    color: #aaaa90;
                    &:hover{
                        color: black;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 900px){
    .blog{
        .blog-list{
            .blog-item{
                .blog-item-image{
                    height: 160px;
                    width: 50%;
                }
            }
        }
    }
}