@import "./blog.scss";
@import "./single-blog.scss";
@import "./article-editor.scss";
@import "./../components/screen/side-screen.scss";

.section{
    width: 100%;
    max-width: 1090px;
    margin: 0 auto;
    padding: 32px 0 108px 0;
    display: flex;
    justify-content: space-between;
    .content{
        max-width: 870px;
        width: 100%;
    }
}

.section-screen{
    background: #aaaa90;
    width: 100%;
    padding: 52px 0 10px 0;
    h1{
        width: 100%;
        max-width: 1090px;
        margin: 0 auto;
        color: #fff;
        text-transform: uppercase;
        font-family: 'Montserrat-Bold';
        font-size: 38px;
    }
}

@media only screen and (max-width: 1100px){
    .section{
        padding: 10px 0 60px;
        .content{
            margin: 0 auto;
        }
    }
    .section-screen{
        padding: 20px 0 10px;
    }
}