@import './../components/blog/single-blog-share.scss';
@import './../components/blog/single-blog-stats.scss';
@import './../components/blog/single-blog-comments.scss';

.blog{
    .single-article{
        .blog-date{
            .blog-item-pub-date{
                left: 0;
            }
            .vertical-date{
                left: -44px;
            }
        }
        .single-article-image{
            width: 100%;
            height: 490px;
            img{
                width: 100%;
                height: 100%;
            }
        }
        .single-article-title{
            margin-top: 40px;
            color: #333333;
            font-size: 36px;
            font-family: 'Montserrat-Bold';
        }
        .single-article-to-edit{
            text-decoration: none;
            padding: 14px 30px;
            text-transform: uppercase;
            border-radius: 4px;
            font-family: 'Montserrat-Bold';
            color: white;
            display: inline-block;
            margin-top: 15px;
            background: #aaaa90;
            user-select: none;
        }
        .single-article-to-edit:hover{
            background: #707056;
        }
        .single-article-body{
            margin-top: 40px;
        }
    }
}