.blog-date{
    position: absolute;
    .blog-item-pub-date{
        max-width: 70px;
        min-width: 40px;
        position: absolute;
        top: 0;
        left: -20px;
        background: #aaaa90;
        padding: 5px;
        user-select: none;
        p{
            color: white;
            text-align: center;
            font-size: 32px;
            text-shadow: 0 2px 1px rgba(0,0,0,.2);
        }
        .blog-line{
            width: 100%;
            height: 1px;
            background: #717151;
        }
    }
    .vertical-date{
        user-select: none;
        position: absolute;
        background: #aaaa90;
        padding: 8px 12px 5px 6px;
        transform: rotate(90deg);
        max-height: 40px;
        width: 120px;
        top: 94px;
        left: -64px;
        p {
            color: white;
            text-shadow: 1px 0px 1px rgba(0,0,0,.3);
            font-family: 'Montserrat-Semibold';
        }
        p:last-child{
            font-size: 14px;
            font-family: 'Montserrat-Medium';
        }
    }
}