.pagination{
    position: relative;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    li{
        padding: 4px 8px;
        border-radius: 5px;
        color: #333333;
        font-size: 16px;
        user-select: none;
        a{
            font-family: 'Montserrat-Semibold';
            outline: none;
            cursor: pointer;
        }
    }
    .previous, .next{
        position: relative;
        top: -3px;
        padding: 0px;
        height: 30px;
        font-size: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        a{
            font-family: 'Montserrat-Medium';
            color: #aaaa90;
        }
    }
    .previous{
        margin-right: 30px;
    }
    .next{
        margin-left: 30px;
    }
    .active{
        color: white;
        background: #aaaa90;
    }
    .disabled{
        opacity: .4;
    }
}