.comments-field{
    margin-top: 40px;
    .comments-show{
        list-style: none;
        display: flex;
        flex-direction: column;
        .comment{
            margin-bottom: 20px;
            .head{
                display: flex;
                justify-content: space-between;
                padding: 5px;
                border: 1px solid #aaaa90;
                align-items: center;
                .author, .publish-date{
                    color: #333333;
                }
                .author{
                    font-size: 20px;
                    font-family: 'Montserrat-Bold';
                }
            }
            .message{
                color: #333333;
                padding: 10px;
                border: 1px solid #aaaa90;
                border-top: none;
            }
        }
    }
    .zero-comments{
        padding: 10px;
        border: 1px solid #aaaa90;
    }
    .comment-form{
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        .head{
            display: flex;
            justify-content: space-between;
            width: 100%;
            input{
                padding: 11px 12px 11px 8px;
                outline: none;
                border: 1px solid #aaaa90;
            }
            input:first-child{
                width: 63%;
            }
            input:last-child{
                width: 28%;
            }
            input::placeholder{
                font-family: 'Montserrat-Bold';
                text-transform: capitalize;
            }
            input:last-child::placeholder{
                text-transform: none;
            }
        }
        textarea{
            border: 1px solid #aaaa90;
            margin-top: 10px;
            text-indent: 20px;
            padding-top: 10px;
            max-width: 100%;
            min-width: 100%;
            min-height: 185px;
            max-height: 240px;
            font-size: 18px;
            outline: none;
        }
        button{
            max-width: 390px;
            width: 100%;
            margin-top: 16px;
            color: white;
            background: #aaaa90;
            border: none;
            text-transform: capitalize;
            border-radius: 8px;
            padding: 12px 0;
            font-size: 20px;
            cursor: pointer;
            outline: none;
            user-select: none;
        }
        button:hover{
            background: #707056;
        }
    }
}