.single-article-share{
    display: flex;
    margin-top: 40px;
    .share{
        margin-right: 20px;
        cursor: pointer;
    }
    .share,.social{
        display: flex;
        align-items: center;
        span {
            color: #aaaa90;
            margin-right: 8px;
        }
        label{
            cursor: pointer;
            color: #333333;
            font-family: 'Montserrat-Semibold';
            user-select: none;
        }
    }
    .social{
        span{
            margin-right: 14px;
            cursor: pointer;
        }
        span:hover{
            color: #717151;
        }
    }
    .share:hover{
        span{
            color: #717151;
        }
    }
}