.single-article-stats{
    display: flex;
    background: #eeeee9;
    color: #aaaa90;
    justify-content: space-between;
    width: 100%;
    padding: 5px 0;
    align-items: center;
    .single-article-tags{
        display: flex;
        list-style: none;
        flex-grow: 6;
        margin-left: 10px;
        span{
            margin-right: 6px;
        }
        li{
            text-transform: capitalize;
            margin-right: 8px;
            font-size: 14px;
        }
    }
    .single-article-comments span:last-child, .single-article-views span:last-child{
        margin-left: 6px;
        font-size: 14px;
    }
    .single-article-comments{
        flex-grow: .3;
    }
    .single-article-views{
        margin-right: 10px;
    }
}