.side-screen{
    width: 180px;
    .side-contact{
        color: #608499;
        font-family: 'Montserrat-Semibold';
        text-decoration: none;
        font-size: 23px;
        line-height: 28px;
        > span {
            font-size: 20px;
            padding-bottom: 1px;
        }
        &:hover{
            color: #406276;
        } 
    }
    .side-popular{
        margin-top: 48px;
        border-top: 1px solid #aaaa90;
        .header{
            background: #eeeee9;
            color: #aaaa90;
            text-transform: capitalize;
            display: flex;
            align-items: center;
            font-size: 14px;
            padding: 0px 10px;
            user-select: none;
            span{
                font-size: 20px;
                padding-bottom: 4px;
                margin-right: 10px;
            }
        }
        .side-random-article-list{
            margin-top: 8px;
            .single-random-article{
                color: black;
                display: block;
                text-decoration: none;
                padding: 12px 0;
                border-bottom: 1px solid #aaaa90;
                h5{
                    font-size: 12px;
                }
                p{
                    margin-top: 4px;
                    line-height: 20px;
                    font-size: 12px;
                }
                &:visited{
                    color: black;
                }
                &:hover{
                    h5{
                        text-decoration: underline;
                    }
                }
            }
        }
    }
    .side-archive{
        display: flex;
        flex-direction: column;
        margin-top: 30px;
        border-top: 1px solid #aaaa90;
        .archive-head{
            background: #eeeee9;
            color: #aaaa90;
            text-transform: capitalize;
            display: flex;
            align-items: center;
            font-size: 14px;
            padding: 5px 12px;
            user-select: none;
            span{
                margin-right: 12px;
            }
        }
        .archive-item{
            margin-top: 2px;
            display: flex;
            flex-direction: column;
            .archive-year{
                color: #aaaa90;
                text-transform: capitalize;
                font-family: 'Montserrat-Light';
                background: #eeeee9;
                padding: 5px 12px;
                user-select: none;
                font-size: 14px;
                cursor: pointer;
                span:first-child{
                    margin-right: 12px;
                }
                span:last-child{
                    display: block;
                    float: right;
                }
            }
            .archive-year:hover{
                background: #717151;
                color: white;
            }
            .archive-list{
                .archive-month{
                    display: block;
                    padding: 7px 0 7px 10px;
                    user-select: none;
                    border-bottom: 1px solid #eeeee9;
                    cursor: pointer;
                    font-size: 14px;
                    text-decoration: none;
                }
                .archive-month:hover{
                    text-decoration: underline;
                }
            }
        }
    }
}

@media only screen and (max-width: 1100px){
    .side-screen{
        display: none;
    }
}