.footer{
    position: fixed;
    width: 100%;
    bottom: 0;
    background: #333333;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 36px;
    p, a {
        color: white;
    }
    a{
        text-decoration: none;
        &:hover{
            text-decoration: underline;
        }
    }
}